/* common styles */
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
  font-family: sans-serif;
}

/* calculator */
.calculator {
  width: 300px;
  padding-bottom: 15px;
  border-radius: 7px;
  background-color: #2e398a; /* Keys section background */
  box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.61);
}

/* top-navigation */
.top-nav {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid rgb(146, 151, 155);
  box-sizing: border-box;
  padding: 10px;
  font-size: 2rem;
  background-color: #5659A6;
  color: #000;
  text-align: right;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  
}

/* Hamburger menu */
.top-nav a.icon {
  display: block;
  position: absolute;
}

/* All links in the top nav */
.top-nav a {
  color: white;
  text-decoration: none;
}

#myLinks {
  display: none;
  float: right;
  font-size: 15px;
  position: relative;
}

/* display */
.display {
  width: 100%;
  height: 140px;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 4rem;
  background-color: #2E398A;
  color: #fff;
  text-align: right;
}

.keys {
  height: 340px;
  border-top: 1px solid #3F4A94;
  padding-top: 25px;
}

/* row */
.row {
  display: flex;
  justify-content: space-between;
}

/* button */
button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #4f5677;
  outline: none;
  font-size: 1.5rem;
  background-color: #2E398A;
  color: #999eb8;
  margin: 10px;
}

/* The 'clear' button */
#btn-clear {
  background-color: #2E398A;
  border: 1px solid #FADB4B;
  color: #999eb8;
}

/* Invisible button for layout purposes. Not a great way to do this... */
.btn-empty {
  background-color: #2E398A;
  border: none;
  pointer-events: none;
}

/* The 'equals' button */
#btn-equals {
  border-radius: 25px;
  height: 125px;
  
}

/* The 'zero' button */
#btn-zero {
  border-radius: 25px;
  width: 125px;
  position: absolute;
  margin-top: 75px;
}

/* The 'dot' button */
#btn-dot {
  position: absolute;
  margin-left: 162px;
  margin-top: 73px;
  background-color: #2e398a;
  color: #999eb8;
}

button:hover {
  cursor: pointer;
}

/* operator */
.operator {
  background-color: #FADB4B;
  color: #000;
}

/* Dark Theme */
.dark-mode {
  background-color: black;
}
